<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Inspired Delta Technology Website</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="icon" href="images/idelta_fav.png" type="image/png">
    <link rel="shortcut icon" href="images/idelta_fav.png" type="image/png">
    <!-- 
	Workforce CSS Template
	https://templatemo.com/tm-461-workforce
    -->
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">		
	<link rel="stylesheet" href="css/templatemo-style.css">
</head>
<body data-spy="scroll" data-offset="50" data-target=".navbar-collapse">
	<div class="preloader">
		<div class="sk-spinner sk-spinner-rotating-plane"></div>
	</div>
	<nav class="navbar navbar-fixed-top custom-navbar" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
					<span class="icon icon-bar"></span>
				</button>
				<a href="index.html" width="150" height="86" ><img src="images/idelta_logo.jpg" align="left" title="iDelta Brand" alt="iDelta Logo"></a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#home" class="smoothScroll">Home</a></li>
					<li><a href="#service" class="smoothScroll">Services</a></li>
					<li><a href="#about" class="smoothScroll">About</a></li>
					<li><a href="#portfolio" class="smoothScroll">Portfolio</a></li>
					<li><a href="#contact" class="smoothScroll">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- start home -->
	<section id="home">
		<div class="overlay">
			<div class="flexslider">
				<ul class="slides">
					<li>
						<img src="images/slider/4.jpg" alt="Slide 1">
						<div class="slider-caption">
							<div class="templatemo_homewrapper">
								<h3 class="wow bounceIn"></h3>
								<h1 class="wow bounce">Internet Service</h1>
								<h2>
									<span class="wow fadeIn" data-wow-delay="0.3s">IP PHONES,</span>
									<span class="wow fadeIn" data-wow-delay="0.6s">FIBRE,</span>
									<span class="wow fadeIn" data-wow-delay="0.9s" style="color: goldenrod" >COLOCATION</span>
								</h2>
								<a href="#portfolio" class="smoothScroll templatemo-slider-btn btn btn-default">Learn More</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- end home -->
	<!-- start service -->
{% block content %}
{% endblock %}


	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<p class="wow bounceIn">Copyright &copy; 2018 <span>Inspired Delta Technology Solutions</span> </a></p>
				</div>
			</div>
		</div>
	</footer>
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/isotope.js"></script>
	<script src="js/imagesloaded.min.js"></script>
	<script src="js/smoothscroll.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/custom.js"></script>
</body>
</html>