
{% extends 'templates/techie_base.html' %}
{% block hero %}
  <!-- ======= FAQ Header Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Best Customer and Service Experience With iDelta</h1>
          <h2>We are team of experienced service providers with decades of experience</h2>
          <div><a href="#about" class="btn-get-started scrollto">Read More</a></div>
        </div>
        <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
          <img src="/assets/idelta_website/techie/img/hero-imgs.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End FAQ -->

{% endblock %}

{% block content%}

<section id="faq" class="faq">
    <div class="container" data-aos="fade-up">

      <div class="section-title" color="black">
        <h2>Frequently Asked Questions</h2>
        <p>If your questions are not answered below, please reach out to us</p>
      </div>

      <div class="faq-list">
        <ul>
{% for faq in faqs %}
    <li >
      <i class="bx bx-help-circle icon-help"></i>
      <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq-list-{{ loop.index }}">
        {{ faq.question }} <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i>
      </a>
      <div id="faq-list-{{ loop.index }}" class="collapse" data-bs-parent=".faq-list">
        <p>
          {{ faq.answer }}
        </p>
      </div>
    </li>
{% endfor %}
          

</ul>
</div>

</div>
</section><!-- End Frequently Asked Questions Section -->

{% endblock %}